<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bar Luzon">
    <title>Co-Market | An E-commerce site</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="./style.css" type="text/css"/>

    <link rel="stylesheet" href="./cart_style.css" type="text/css"/>
    <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
    <script src="cartjs/modernizr.js"></script> <!-- Modernizr -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>


</head>
<body>

<!----- header start------>
<header class="container-fluid">

    <div class="container">
        <div class="navbar">
            <div class="logo"> <img src="images/logo.png" alt="CoMarket logo" width="125px"/> </div>
            <nav>
                <ul>
                    <li class="active"><a href="/home">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/about">About</a></li>
                    <!--<li><a href="/contact">Contact</a></li>-->
                    <!--<li><a href="/account">Account</a></li>-->

                    <% if(currentUser != null) { %>
                        <li><a href="/products">My products</a></li>
                        <li><a href="#">Welcome <%= currentUser.firstname %>!</a></li>
                        <li><a href="/logout">Logout</a></li>
                    <%}%>
                    <% if(currentUser == null) { %>
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    <%}%>
                </ul>
                <div id="cd-cart-trigger"><a class="cd-img-replace" href="#0">Cart</a></div>
            </nav>
                        <img src="" width="80px" height="0px" alt="">
        </div>
    </div>
    <div class="container">
    <%  if(error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>

    <%  if(info && info.length > 0) { %>
        <div class="alert alert-info" role="alert">
            <%= info %>
        </div>
    <% } %>
</header>

<div id="cd-shadow-layer"></div>

<div id="cd-cart">
    <h2>Cart</h2>

    <ul class="cd-cart-items">
<!--        <li class="cart-row">-->
<!--            <span class="cd-qty">1</span>-->
<!--            <h7 class="cart-item-title">Product Name</h7>-->
<!--            <div class="cd-price">₪10.00</div>-->
<!--            <a href="#0" class="cd-item-remove cd-img-replace">Remove</a>-->
<!--        </li>-->

<!--        <li class="cart-row">-->
<!--            <span class="cd-qty">2</span>-->
<!--            <h7 class="cart-item-title">Product Name</h7>-->
<!--            <div class="cd-price">₪5.00</div>-->
<!--            <a href="#0" class="cd-item-remove cd-img-replace">Remove</a>-->
<!--        </li>-->

<!--        <li class="cart-row">-->
<!--            <span class="cd-qty">1</span>-->
<!--            <h7 class="cart-item-title">Product Name</h7>-->

<!--            <div class="cd-price">₪15.00</div>-->
<!--            <a href="#0" class="cd-item-remove cd-img-replace">Remove</a>-->
<!--        </li>-->
    </ul> <!-- cd-cart-items -->

    <div class="cd-cart-total">
        <p>Total <span class="cd-cart-total">₪0</span></p>
    </div> <!-- cd-cart-total -->

    <a href="#0" class="checkout-btn">Checkout</a>

<!--    <p class="cd-go-to-cart"><a href="#0">Go to cart page</a></p>-->
</div> <!-- cd-cart -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="./cartjs/main.js"></script> <!-- Gem jQuery -->
<script src="./cartjs/cart.js"></script>



<!----- header end------>